{% extends "_base.html.twig" %}

{% set composed = true %}

{% block type %}{{ parent() }} ({{ var.length }}){% endblock %}

{% block value %}
    {% if not var.terminal %}
        {% for item in var.value %}
            {{ render_type(item.value, item.key) }}
        {% endfor %}
    {% else %}
        <span class="muted"><i class="icon-warning-sign"></i> Array max nesting level reached</span>
    {% endif %}
{% endblock %}
