{% extends "_base.html.twig" %}

{% set composed = true %}
{% set type_expanded = true %}

{% block type %}<i class="icon-th-large"></i> {{ var.title }}{% endblock %}

{% block value %}

<div style="overflow-x: scroll;overflow-y: scroll;height: 224px;">
    <table class="table table-striped table-bordered">

        <thead>
        <tr>
            {% for item in var.headers %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for item in var.rows %}
        <tr>
            {% for subitem in item %}
            <td>{{ subitem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
