{% import "_macros.html.twig" as m %}

{% spaceless %}
<label for="tree_code_{{ var.id }}">
    <span class="switcher">Code</span>
</label>
<input type="checkbox" id="tree_code_{{ var.id }}" {% if expanded %}checked{% endif %} />
<ol>
    <li>
        <pre>
            <code>{{ var.data|e }}</code>
        </pre>
    </li>
</ol>
{% endspaceless %}

