{% import "_macros.html.twig" as m %}

{% spaceless %}
<label for="tree_collection_{{ var.id }}">
    {% if array_key is not empty %}
        <span class="key">[{{ key }}]:</span>
    {% endif %}

    <span class="switcher">collection</span>
</label>
<input type="checkbox" id="tree_collection_{{ var.id }}">
<ol><li>***</li>
    {% for item in var.data %}
        <li>{{ render_type(item, item.key)|raw }}</li>
    {% endfor %}
</ol>
{% endspaceless %}
