{% spaceless %}
<div class="final">
    {% if array_key is not empty %}
        <span class="key">[{{ array_key }}]:</span>
    {% endif %}
    <span class="type">null</span>
</div>
{% endspaceless %}